@using Application.Dto
@model DashBoardDto
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h5 class="content-header-title float-left pr-1">ویجت‌ها</h5>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    ویجت‌ها
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Widgets Statistics start -->
            <section id="widgets-Statistics">
                <div class="row">
                    <div class="col-12 mt-1 mb-2">
                        <h4>آمار</h4>
                        <hr>
                    </div>
                </div>
                <div class="row">

                    <!-- User Widget Ends -->
                    <div class="col-xl-2 col-md-4 col-sm-6">
                        <div class="card text-center">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="badge-circle badge-circle-lg bg-rgba-info text-info mx-auto my-1">
                                        <i class="bx bx-edit-alt font-medium-5"></i>
                                    </div>
                                    <p class="text-muted mb-0 line-ellipsis">پست های جدید</p>
                                    <h2 class="mb-0 primary-font">48</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-6">
                        <div class="card text-center">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="badge-circle badge-circle-lg bg-rgba-warning text-warning mx-auto my-1">
                                        <i class="bx bx-file font-medium-5"></i>
                                    </div>
                                    <p class="text-muted mb-0 line-ellipsis">فایل های ضمیمه شده</p>
                                    <h2 class="mb-0 primary-font">17</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-6">
                        <div class="card text-center">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="badge-circle badge-circle-lg bg-rgba-danger text-danger mx-auto my-1">
                                        <i class="bx bx-message font-medium-5"></i>
                                    </div>
                                    <p class="text-muted mb-0 line-ellipsis">دیدگاه‌ها</p>
                                    <h2 class="mb-0 primary-font">29</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-6">
                        <div class="card text-center">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="badge-circle badge-circle-lg bg-rgba-primary text-primary mx-auto my-1">
                                        <i class="bx bx-money font-medium-5"></i>
                                    </div>
                                    <p class="text-muted mb-0 line-ellipsis">فروش‌ها</p>
                                    <h2 class="mb-0 primary-font">72</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-6">
                        <div class="card text-center">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="badge-circle badge-circle-lg bg-rgba-success text-success mx-auto my-1">
                                        <i class="bx bx-purchase-tag font-medium-5"></i>
                                    </div>
                                    <p class="text-muted mb-0 line-ellipsis">خرید</p>
                                    <h2 class="mb-0 primary-font">65</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-6">
                        <div class="card text-center">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="badge-circle badge-circle-lg bg-rgba-danger text-danger mx-auto my-1">
                                        <i class="bx bx-shopping-bag font-medium-5"></i>
                                    </div>
                                    <p class="text-muted mb-0 line-ellipsis">سفارش</p>
                                    <h2 class="mb-0 primary-font">40</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-6 col-12 user-profile-card">
                        <div class="card">
                            <div class="card-header mx-auto pt-3">
                                <div class="avatar bg-rgba-primary p-50">
                                    <img class="img-fluid" src="/FrestAssets/images/profile/user-uploads/social-2.jpg" alt="img placeholder" height="134" width="134">
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="card-body text-center">
                                    <h4>ماریا آرنولد</h4>
                                    <p>توسعه دهنده</p>
                                    <!-- <p class="px-1">Jelly beans halvah cake chocolate gummies.</p> -->
                                    <div class="d-flex justify-content-around mb-1">
                                        <div class="card-icons d-flex flex-column">
                                            <i class="bx bx-camera font-medium-5 font-weight-bold"></i>
                                            <p>5693</p>
                                        </div>
                                        <div class="card-icons d-flex flex-column">
                                            <i class="bx bx-heart font-medium-5 font-weight-bold"></i>
                                            <p>856</p>
                                        </div>
                                        <div class="card-icons d-flex flex-column">
                                            <i class="bx bx-user font-medium-5 font-weight-bold"></i>
                                            <p>468</p>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary glow px-4">دنبال کردن</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- Widgets Statistics End -->
            <!-- Widgets Charts start -->
            <section id="widgets-chart">
                <div class="row">
                    <!-- Order Activity Chart Starts -->
                    <div class="col-12">
                        <div class="card widget-order-activity">
                            <div class="card-header d-md-flex justify-content-between align-items-center">
                                <h4 class="card-title">فعالیت سفارشات</h4>
                                <div class="header-right mt-md-0 mt-50">
                                    <fieldset class="d-inline-block form-group position-relative has-icon-left mb-50">
                                        <input type="text" class="form-control daterange">
                                        <div class="form-control-position">
                                            <i class="bx bx-calendar"></i>
                                        </div>
                                    </fieldset>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn active">ماهانه</button>
                                        <button type="button" class="btn">سالانه</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div id="order-activity-line-chart"></div>
                                </div>
                            </div>
                            <div class="card-footer border-top widget-order-activity-footer">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 mb-75">
                                        <div class="d-flex flex-column">
                                            <span class="line-height-2 mb-50">مستقیم</span>
                                            <div class="d-flex align-items-center">
                                                <div class="badge-circle badge-circle-lg badge-circle-light-secondary flex-column mr-1">
                                                    <i class="bx bx-caret-up text-success font-medium-4"></i>
                                                    <small class="text-muted">+31%</small>
                                                </div>
                                                <h4 class="mb-0 primary-font">2,931 تومان</h4>
                                            </div>
                                            <small class="text-muted mt-1">لورم ایپسوم متن ساختگی</small>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 mb-75 mt-2 mt-sm-0">
                                        <div class="d-flex flex-column">
                                            <span class="line-height-2 mb-50">ایمیل</span>
                                            <div class="d-flex align-items-center">
                                                <div class="badge-circle badge-circle-lg badge-circle-light-secondary flex-column mr-1">
                                                    <i class="bx bx-caret-down text-danger font-medium-4"></i>
                                                    <small class="text-muted">-1%</small>
                                                </div>
                                                <h4 class="mb-0 primary-font">1,231 تومان</h4>
                                            </div>
                                            <small class="text-muted mt-1">لورم ایپسوم متن ساختگی</small>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 mb-75 mt-2 mt-md-0">
                                        <div class="d-flex flex-column">
                                            <span class="line-height-2 mb-50">ایمیل</span>
                                            <div class="d-flex align-items-center">
                                                <div class="badge-circle badge-circle-lg badge-circle-light-secondary flex-column mr-1">
                                                    <i class="bx bx-caret-down text-danger font-medium-4"></i>
                                                    <small class="text-muted">-12%</small>
                                                </div>
                                                <h4 class="mb-0 primary-font">545 تومان</h4>
                                            </div>
                                            <small class="text-muted mt-1">لورم ایپسوم متن ساختگی</small>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 mb-75 mt-2 mt-md-0">
                                        <div class="d-flex flex-column">
                                            <span class="line-height-2 mb-50">سایر</span>
                                            <div class="d-flex align-items-center">
                                                <div class="badge-circle badge-circle-lg badge-circle-light-secondary flex-column mr-1">
                                                    <i class="bx bx-caret-up text-success font-medium-4"></i>
                                                    <small class="text-muted">+31%</small>
                                                </div>
                                                <h4 class="mb-0 primary-font">332 تومان</h4>
                                            </div>
                                            <small class="text-muted mt-1">لورم ایپسوم</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Order Activity Chart Ends -->
                </div>
            </section>
            <!-- Widgets Charts End -->
        </div>
    </div>
</div>
