<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h5 class="content-header-title float-left pr-1">ورودی</h5>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">عناصر فرم</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    ورودی
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic Inputs start -->
            <section id="basic-input">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">وارد کردن اطلاعات جهت دریافت برنامه غذایی</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <fieldset class="form-group">
                                                <label for="basicInput">کدام دوره ثبت نام کردین؟</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <label for="helpInputTop"> سن</label>
                                                <small class="text-muted">مثال: <i>someone@example.com</i></small>
                                                <input type="text" class="form-control" id="helpInputTop">
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <label for="helperText">قد</label>
                                                <input type="text" id="helperText" class="form-control" placeholder="نام">
                                                <p><small class="text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</small></p>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="helperText">دور بازو</label>
                                                <input type="text" id="helperText" class="form-control" placeholder="نام">
                                                <p><small class="text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</small></p>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">دور ساق</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">کدام دوره ثبت نام کردین؟</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset class="form-group">
                                                <label for="disabledInput">نام و نام خانوادگی </label>
                                                <input type="text" id="disabledInput" class="form-control" placeholder="نام و نام خانوادگی">

@*                                                 <input type="text" class="form-control" id="disabledInput" placeholder="متن غیر فعال" disabled>
 *@                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="disabledInput">وزن</label>
                                                <input type="text" class="form-control" id="readonlyInput" readonly value="من رو نمیتونید تغییر بدید :)">
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <label for="disabledInput">دوره شکم </label>
                                                <p class="form-control-static" id="staticInput">info@example.com</p>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="disabledInput">دوره ران </label>
                                                <p class="form-control-static" id="staticInput">info@example.com</p>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">دوره باسن</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">کدام دوره ثبت نام کردین؟</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Basic File Browser start -->
            <section id="custom-file-input">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">آپلود نیم رخ </h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                
                                        <div class="col-md-12 mb-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="inputGroupFile02">
                                                        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">نیم رخ خود را آپلود کنید </label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="inputGroupFileAddon02">آپلود</span>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="Second-basic-input">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">ادامه وارد کردن اطلاعات جهت دریافت برنامه غذایی</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control shamsi-datepicker-list" placeholder="انتخاب تاریخ">
                                                <div class="form-control-position">
                                                    <i class="bx bx-calendar"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">انتخاب استان</label>
                                                <select type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            <option value="CityId"> </option>
                                            </select>
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <label for="helperText">تاریخ آغاز دوره</label>
                                                <input type="text" id="helperText" class="form-control" placeholder="نام">
                                                <p><small class="text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</small></p>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="helperText">جنسیت </label>
                                                <input type="text" id="helperText" class="form-control" placeholder="نام">
                                                <p><small class="text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</small></p>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">سابقه بیماری </label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">چه غذاهایی رو نمیتوانید بخورید؟</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">ساعت بیداری صبح</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">اغلب میان وعده صبح چه چیزی میخوردید</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">اغلب عصرانه چیه چیزی میخورید؟</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">اغلب وعده آخر شب چه چیری میخوردید؟</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">غذای مورد علاقه شما چیه؟</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                             <fieldset class="form-group">
                                                <label for="basicInput">تا حالا چه اقدام و روش هایی جهت  لاغری و تناسب اندام خود انجام داده اید؟</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="اقدامات ">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <div class="checkbox">
                                                    <input type="checkbox" class="checkbox-input" id="checkbox1" checked="">
                                                    <label for="checkbox1">تعهد نامه و (شرایط و ظوابط) را مصالعه کردم و قبول دارم:</label>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">oo</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                       
                                            <fieldset class="form-group">
                                                <label for="disabledInput">شغل</label>
                                                <input type="text" id="disabledInput" class="form-control" placeholder="نام و نام خانوادگی">

                                                @*<input type="text" class="form-control" id="disabledInput" placeholder="متن غیر فعال" disabled>
 *@                                            </fieldset>

                                            <fieldset class="form-group">
                                                <label for="basicInput">انتخاب شهر</label>
                                                <select type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                                    <option value="CityId"> </option>
                                                </select>
                                            </fieldset><fieldset class="form-group">
                                                <label for="disabledInput">معرف</label>
                                                <input type="text" class="form-control" id="readonlyInput" readonly value="من رو نمیتونید تغییر بدید :)">
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <label for="disabledInput">شماره همراه </label>
                                                <p class="form-control-static" id="staticInput">info@example.com</p>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="disabledInput">وضعیت تاهل </label>
                                                <Radio class="form-control-static" id="Radio">info@example.com</Radio>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">چه دارویی مصرف میکنی و به چه دلیل:</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                          
                                                <h6>Select چند انتخابی با برچسب</h6>
                                 
                                                    <div class="form-group">
                                                        <select class="select2-size-lg form-control select2-hidden-accessible" multiple="" id="large-select-multi" data-select2-id="large-select-multi" tabindex="-1" aria-hidden="true">
                                                            <option value="square" data-select2-id="231">مربع</option>
                                                            <option value="rectangle" selected="" data-select2-id="107">مستطیل</option>
                                                            <option value="rombo" data-select2-id="232">شش ضلعی</option>
                                                            <option value="romboid" data-select2-id="233">دایره</option>
                                                            <option value="trapeze" data-select2-id="234">بیضی</option>
                                                            <option value="traible" data-select2-id="235">مثلث</option>
                                                            <option value="polygon" data-select2-id="236">چند ضلعی</option>
                                                        </select>
                                                    </div>
                                               
                                            <fieldset class="form-group">
                                                <label for="basicInput">چه غذاهایی رو نمیتوانید بخورید؟</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">صبحانه چه چیزی و چه موقع میخورید؟</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">اغلب نهار چیه چیزی و چه زمانی میخورید؟</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">اغلب شام چه ساعتی و چیه چیزی میخورید؟</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">فعالیت روزانه شما چیست؟</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">oo</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">oo</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="ایمیل را وارد کنید">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Basic File Browser end -->
            <!-- Basic Inputs end -->
            <!-- Input Style start -->
            <section class="multiple-select2">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Select2 چند انتخابی</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6>Select2 چند انتخابی پایه</h6>
                                            <p>از <code>.select2</code> برای افزودن select2 پایه استفاده کرده و صفت <code>multiple="multiple"</code> را برای حالت چند انتخابی به آن اضافه کنید.</p>
                                            <div class="form-group">
                                                <select class="select2 form-control" multiple>
                                                    <option value="square">مربع</option>
                                                    <option value="rectangle" selected>مستطیل</option>
                                                    <option value="rombo">شش ضلعی</option>
                                                    <option value="romboid">دایره</option>
                                                    <option value="trapeze">بیضی</option>
                                                    <option value="traible" selected>مثلث</option>
                                                    <option value="polygon">چند ضلعی</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h6>Select چند انتخابی با برچسب</h6>
                                            <p>از <code>optgroup</code> برای افزودن select چند انتخابی با برچسب استفاده کنید.</p>
                                            <div class="form-group">
                                                <select class="select2 form-control" multiple>
                                                    <optgroup label="شکل ها">
                                                        <option value="romboid">دایره</option>
                                                        <option value="trapeze" selected>بیضی</option>
                                                        <option value="triangle">مثلث</option>
                                                        <option value="polygon">چند ضلعی</option>
                                                    </optgroup>
                                                    <optgroup label="رنگ ها">
                                                        <option value="red">قرمز</option>
                                                        <option value="green">سبز</option>
                                                        <option value="blue" selected>آبی</option>
                                                        <option value="purple">بنفش</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h6>Select با آیکن</h6>
                                            <p>از صفت اطلاعاتی <code>data-icon</code> برای افزودن نام آیکن به هر گزینه استفاده کنید. و کلاس <code>.select2-icons</code> را به تگ select اضافه کنید.</p>
                                            <div class="form-group">
                                                <select data-placeholder="یک استان انتخاب کنید ..." class="select2-icons form-control" id="multiple-select2-icons" multiple>
                                                    <optgroup label="خدمات">
                                                        <option value="wordpress2" data-icon="bx bxl-wordpress" selected>وردپرس</option>
                                                        <option value="codepen" data-icon="bx bxl-codepen">Codepen</option>
                                                        <option value="drupal" data-icon="bx bxl-drupal">Drupal</option>
                                                        <option value="pinterest2" data-icon="bx bxl-css3">CSS3</option>
                                                        <option value="html5" data-icon="bx bxl-html5">HTML5</option>
                                                    </optgroup>
                                                    <optgroup label="انواع فایل">
                                                        <option value="pdf" data-icon="bx bxs-file-pdf">PDF</option>
                                                        <option value="word" data-icon="bx bxs-file-doc">Word</option>
                                                        <option value="excel" data-icon="bx bx-file">Excel</option>
                                                        <option value="facebook" data-icon="bx bxl-facebook-square">فیسبوک</option>
                                                    </optgroup>
                                                    <optgroup label="مرورگر ها">
                                                        <option value="chrome" data-icon="bx bxl-chrome">کروم</option>
                                                        <option value="firefox" data-icon="bx bxl-firefox">فایرفاکس</option>
                                                        <option value="opera" data-icon="bx bxl-opera">اوپرا</option>
                                                        <option value="IE" data-icon="bx bxl-internet-explorer">IE</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h6>Select با حداکثر تعداد قابل انتخاب محدود با برچسب</h6>
                                            <p>
                                                انتخابگرهای چند انتخابی Select2 میتوانند برای حداکثر تعداد گزینه های قابل انتخاب محدود شوند. select زیر با صفت<code>multiple</code> و با
                                                <code>maximumSelectionLength</code> در تنظیمات select2 ایجاد شده است.
                                            </p>
                                            <div class="form-group">
                                                <select class="max-length form-control" multiple id="max_length">
                                                    <optgroup label="شکل ها">
                                                        <option value="romboid">دایره</option>
                                                        <option value="trapeze" selected>بیضی</option>
                                                        <option value="triangle">مثلث</option>
                                                        <option value="polygon">چند ضلعی</option>
                                                    </optgroup>
                                                    <optgroup label="رنگ ها">
                                                        <option value="red">قرمز</option>
                                                        <option value="green">سبز</option>
                                                        <option value="blue">آبی</option>
                                                        <option value="purple">بنفش</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h6>Select2 با گزینه های دارای پس زمینه روشن</h6>
                                            <p>از <code>.select-light-{colorName}</code> برای اعمال پس زمینه روشن به گزینه های انتخاب شده استفاده کنید.</p>
                                            <div class="form-group">
                                                <select class="select2 form-control select-light-danger" multiple>
                                                    <option value="square">مربع</option>
                                                    <option value="rectangle" selected>مستطیل</option>
                                                    <option value="rombo">شش ضلعی</option>
                                                    <option value="romboid">دایره</option>
                                                    <option value="trapeze">بیضی</option>
                                                    <option value="traible" selected>مثلث</option>
                                                    <option value="polygon">چند ضلعی</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>


 @section select2Js {
    <script src="~/FrestAssets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="~/FrestAssets/js/scripts/forms/select/form-select2.js"></script>
}
  
