@using Application.Dto
@model UserAnswerDto

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h5 class="content-header-title float-left pr-1">ورودی</h5>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">عناصر فرم</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    ورودی
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic Inputs start -->
            <section id="basic-input">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">وارد کردن اطلاعات جهت دریافت برنامه غذایی</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <fieldset class="form-group">
                                                <label for="basicInput">کدام دوره ثبت نام کردین؟</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="دوره قبلی">
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <label for="helpInputTop"> سن</label>
                                                <input type="number" asp-for="age" class="touchspin" value="50">
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <label for="helperText">قد</label>
                                                <input type="text" asp-for="height" class="touchspin" value="50" data-bts-step="0.5" data-bts-decimals="2">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="helperText">دور بازو</label>
                                                <input type="text" asp-for="ArmRound" class="touchspin" value="50" data-bts-step="0.5" data-bts-decimals="2">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">دور ساق</label>
                                                <input type="text" asp-for="LegRound" class="touchspin" value="50" data-bts-step="0.5" data-bts-decimals="2">
                                            </fieldset>

                                        </div>
                                        <div class="col-md-6">
                                            <fieldset class="form-group">
                                                <label for="disabledInput">نام و نام خانوادگی </label>
                                                <input type="text" id="disabledInput" class="form-control" placeholder="نام و نام خانوادگی">

                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="disabledInput">وزن</label>
                                                <input type="text" class="touchspin" value="50" data-bts-step="0.5" data-bts-decimals="2">
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <label for="disabledInput">دوره شکم </label>
                                                <input type="text" class="touchspin" value="50" data-bts-step="0.5" data-bts-decimals="2">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="disabledInput">دوره ران </label>
                                                <input type="text" class="touchspin" value="50" data-bts-step="0.5" data-bts-decimals="2">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">دوره باسن</label>
                                                <input type="text" class="touchspin" value="50" data-bts-step="0.5" data-bts-decimals="2">
                                            </fieldset>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Basic File Browser start -->
            <section id="custom-file-input">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">آپلود نیم رخ </h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-md-12 mb-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="inputGroupFile02">
                                                        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">نیم رخ خود را آپلود کنید </label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="inputGroupFileAddon02">آپلود</span>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="Second-basic-input">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">ادامه وارد کردن اطلاعات جهت دریافت برنامه غذایی</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <fieldset class="form-group position-relative has-icon-left">
                                                <label for="theDate">تاریخ تولد</label>
                                                <input type="text" asp-for="BirthDay" id="theDate" class="form-control shamsi-datepicker-list" placeholder="انتخاب تاریخ">
                                                @*  <div class="form-control-position">
                                                    <i class="bx bx-calendar"></i>
                                                </div> *@
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">انتخاب استان</label>
                                                <select type="text" asp-for="StateId" class="form-control" id="theState">
                                                    @foreach (var item in Model.states)
                                                    {
                                                        <option value="item.Id">item.name</option>

                                                    }
                                                </select>
                                            </fieldset>

                                            <fieldset class="form-group position-relative has-icon-left">
                                                <label for="theDate">تاریخ آغاز دوره </label>
                                                <input type="text" asp-for="registerDate" id="theStartDate" class="form-control shamsi-datepicker-list" placeholder="انتخاب تاریخ">
                                                @* <div class="form-control-position">
                                                    <i class="bx bx-calendar"></i>
                                                </div> *@
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="helperText">جنسیت </label>
                                                <ul class="list-unstyled mb-0">
                                                    <li class="d-inline-block mr-2 mb-1">
                                                        <fieldset>
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input bg-primary" asp-for="Gender" value="1" id="GenderMale" checked>
                                                                <label class="custom-control-label" for="customColorRadio1">مرد</label>
                                                            </div>
                                                        </fieldset>
                                                    </li>
                                                    <li class="d-inline-block mr-2 mb-1">
                                                        <fieldset>
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input bg-secondary" asp-for="Gender" value="2" id="GenderFemale">
                                                                <label class="custom-control-label" for="customColorRadio2">زن</label>
                                                            </div>
                                                        </fieldset>
                                                    </li>
                                                </ul>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">سابقه بیماری </label>
                                                <input type="text" class="form-control" id="basicInput" asp-for="Historysickness" placeholder="بیماره ها">
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <label for="basicInput">ساعت بیداری صبح</label>
                                                <input type="text" asp-for="wakeTime" id="theDate" class="form-control shamsi-datepicker-list" placeholder="انتخاب تاریخ">

                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">اغلب میان وعده صبح چه چیزی میخوردید</label>
                                                <input type="text" asp-for="morningBetweenMeal" class="form-control" id="basicInput" placeholder="میان وعده ها">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">اغلب عصرانه چی چیزی میخورید؟</label>
                                                <input type="text" asp-for="EaveningMeal" class="form-control" id="basicInput" placeholder="عصر وعده ها">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">اغلب وعده آخر شب چه چیری میخوردید؟</label>
                                                <input type="text" asp-for="LastMeal" class="form-control" id="basicInput" placeholder="وعده آخر شب ها">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">غذای مورد علاقه شما چیه؟</label>
                                                <input type="text"asp-for="favoriteFood" class="form-control" id="basicInput" placeholder="غذای مورد علاقه">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">تا حالا چه اقدام و روش هایی جهت  لاغری و تناسب اندام خود انجام داده اید؟</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="اقدامات ">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <div class="checkbox">
                                                    <input type="checkbox" class="checkbox-input" id="checkbox1" checked="">
                                                    <label for="checkbox1">تعهد نامه و (شرایط و ظوابط) را مصالعه کردم و قبول دارم:</label>
                                                </div>
                                            </fieldset>

                                        </div>
                                        <div class="col-md-6">

                                            <fieldset class="form-group">
                                                <label for="disabledInput">شغل</label>
                                                <input type="text" id="disabledInput" asp-for="Job" class="form-control" placeholder="شغل">


                                            </fieldset>

                                            <fieldset class="form-group">
                                                <label for="basicInput">انتخاب شهر</label>
                                                <select type="text" asp-for="CityId" class="form-control" id="basicInput">
                                                    <option value="CityId"> ppppp</option>
                                                    <option value="CityId"> ppppp</option>
                                                    <option value="CityId"> ppppp</option>
                                                    <option value="CityId"> ppppp</option>
                                                </select>
                                            </fieldset><fieldset class="form-group">
                                                <label for="disabledInput">معرف</label>
                                                <input type="text" class="form-control" id="readonlyInput" value="معرف">
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <label for="disabledInput">شماره همراه </label>
                                                <input type="text" id="disabledInput" asp-for="PhoneNumber" class="form-control" placeholder="شغل">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="helperText">وضعیت تاهل </label>
                                                <ul class="list-unstyled mb-0">
                                                    <li class="d-inline-block mr-2 mb-1">
                                                        <fieldset>
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input bg-primary" asp-for="married" value="1" checked>
                                                                <label class="custom-control-label" for="customColorRadio1">متاهل</label>
                                                            </div>
                                                        </fieldset>
                                                    </li>
                                                    <li class="d-inline-block mr-2 mb-1">
                                                        <fieldset>
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input bg-secondary" asp-for="married" value="2">
                                                                <label class="custom-control-label" for="customColorRadio2">مجرد</label>
                                                            </div>
                                                        </fieldset>
                                                    </li>
                                                </ul>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">چه دارویی مصرف میکنی و به چه دلیل:</label>
                                                <input type="text" class="form-control" id="basicInput" asp-for="medicineUse" placeholder="دارو ها">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">ساعت خواب شب</label>
                                                <input type="text" asp-for=SleepTime id="theDate" class="form-control shamsi-datepicker-list" placeholder="انتخاب تاریخ">
                                            </fieldset>

                                            <fieldset class="form-group">

                                                <label for="basicInput">کدام یک از نشانه های  زیر را دارید</label>

                                                <select asp-for="SelectedSymptomIds" class="select2-size-lg form-control select2-hidden-accessible" multiple="" id="large-select-multi" data-select2-id="large-select-multi" tabindex="-1" aria-hidden="true">
                                                    @foreach (var item in Model.Symsons)
                                                    {
                                                        <option value="@item.Id" data-select2-id="@item.Id">@item.Description</option>
                                                    }

                                                    @* <option value="rectangle" selected="" data-select2-id="107">مستطیل</option> *@

                                                </select>
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <label for="basicInput">چه غذاهایی رو نمیتوانید بخورید؟</label>
                                                <input type="text" asp-for="dislikeFood" class="form-control" id="basicInput" placeholder=" غذاهایی که حال نمیکنی">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">اغلب صبحانه چه چیزی وچه موقع میخورید؟ </label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="basicInput" placeholder="صبحانه ها">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control pickatime" placeholder="انتخاب زمان">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">اغلب نهار چیه چیزی و چه زمانی میخورید؟</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="text" asp-for="LaunchMeal" class="form-control" id="basicInput" placeholder="صبحانه ها">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" asp-for=LaunchTime" class="form-control pickatime" placeholder="انتخاب زمان">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">اغلب شام چه ساعتی و چیه چیزی میخورید؟</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="text" asp-for="dinnerMeal" class="form-control" id="basicInput" placeholder="شام ها">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" asp-for="dinnerTime" class="form-control pickatime" placeholder="انتخاب زمان">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label for="basicInput">فعالیت روزانه شما چیست؟</label>
                                                <input type="text" asp-for="DailyActivity" class="form-control" id="basicInput" placeholder="فعالیت روزانه">
                                            </fieldset>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Basic File Browser end -->
            <!-- Basic Inputs end -->
            <!-- Input Style start -->
        </div>
    </div>
</div>


@section select2Js {
    <script src="~/FrestAssets/js/scripts/forms/select/form-select2.js"></script>
}

@section theDateTime {



    <script src="~/FrestAssets/js/scripts/forms/number-input.js"></script>
    <script src="~/FrestAssets/js/scripts/pickers/dateTime/pick-a-datetime.js"></script>
}
<script type="text/javascript">


    $("#btnSave").click(function () {
        $.ajax({
            url: '/Home/SaveData',   // آدرس اکشن کنترلر
            type: 'POST',            // یا GET
            data: { id: 5, name: "Ali" }, // دیتاهایی که می‌فرستی
            success: function (response) {
                alert("موفقیت: " + response);
            },
            error: function (xhr, status, error) {
                console.error("خطا: " + error);
            }
        });
    });
</script>

